mortgage.workflow/StateMachineV5.txt
{
	"StartAt": "GetMortgageApplication",
	"States": {
	
		"GetMortgageApplication": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-WorkflowGetMorgtageFunction-16L3UM67HNU4N",
            "ResultPath": "$.lambdaresult",
			"Next": "GetMortgageApplicationResult"
		},
	
		"GetMortgageApplicationResult": {
			"Type": "Choice",
			"Choices": [{
				"Variable": "$.lambdaresult.statusCode",
				"NumericEquals": 200,
				"Next": "UpdateStatusToInAssessmentPass"
			}],
			"Default": "MortgageApplicationNotFoundMessage"
		},
        
		"UpdateStatusToInAssessmentPass": {
			"Type": "Pass",
			"OutputPath": "$.lambdaresult",
			"Next": "UpdateStatusToInAssessment"
		},
		
		"MortgageApplicationNotFoundMessage": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-CreateNotificationMessageFunction-B9G86VUP45D8",
			"Parameters": {
				"messageType": "mortgageNotFoundMessage",
				"mortgageId.$": "$.mortgageId"
			},
			"Next": "MortgageApplicationNotFoundNotify"
		},

		"MortgageApplicationNotFoundNotify": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-SendNotificationMessageFunction-97PNA0FW3WYG",
			"ResultPath": "$.lambdaresult",
			"End": true
		},
		
      	"UpdateStatusToInAssessment": {
			"Type": "Task",
          	"Parameters": {
				"mortgage.$": "$.mortgage",
				"newStatus": "InAssessment"
			},
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-ChangeMortgageStatusFunction-2NK931AA2H2N",
            "Next": "InAssessmentMessage"
		},
		
        "InAssessmentMessage": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-CreateNotificationMessageFunction-B9G86VUP45D8",
			"Parameters": {
				"messageType": "autoAssessmentMessage",
				"mortgage.$": "$.mortgage"
			},
            "ResultPath": "$.lambdaresult",
			"Next": "InAssessmentNotify"
		},

		"InAssessmentNotify": {
			"Type": "Task",
            "InputPath": "$.lambdaresult",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-SendNotificationMessageFunction-97PNA0FW3WYG",
            "ResultPath": "$.lambdaresult",
			"Next": "AutoAssessment"
		},
		
		"AutoAssessment": {
			"Type": "Task",
			"InputPath": "$.mortgage",
            "Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-AutoAssessmentFunction-S230S392YHS1",
            "ResultPath": "$.lambdaresult",
			"Next": "AutoAssessmentResult"
		},
      
        "AutoAssessmentResult": {
			"Type": "Choice",
			"Choices": [{
				"Variable": "$.lambdaresult.statusCode",
				"NumericEquals": 200,
				"Next": "UpdateStatusToAutoApproved"
			}],
			"Default": "UpdateStatusToWithUnderwriter"
		},

        "UpdateStatusToAutoApproved": {
			"Type": "Task",
          	"Parameters": {
				"mortgage.$": "$.mortgage",
				"newStatus": "Approved"
			},
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-ChangeMortgageStatusFunction-2NK931AA2H2N",
            "Next": "AutoAssessmentApprovalMessage"
		},
      
        "AutoAssessmentApprovalMessage": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-CreateNotificationMessageFunction-B9G86VUP45D8",
			"Parameters": {
				"messageType": "autoApprovalMessage",
				"mortgage.$": "$.mortgage"
			},
            "ResultPath": "$.lambdaresult",
			"Next": "AutoAssessmentApprovalNotify"
		},

		"AutoAssessmentApprovalNotify": {
			"Type": "Task",
            "InputPath": "$.lambdaresult",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-SendNotificationMessageFunction-97PNA0FW3WYG",
            "ResultPath": "$.lambdaresult",
			"End": true
		},
	  
      	"UpdateStatusToWithUnderwriter": {
			"Type": "Task",
          	"Parameters": {
				"mortgage.$": "$.mortgage",
				"newStatus": "WithUnderwriter"
			},
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-ChangeMortgageStatusFunction-2NK931AA2H2N",
            "Next": "WithUnderwriterMessage"
		},
		
        "WithUnderwriterMessage": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-CreateNotificationMessageFunction-B9G86VUP45D8",
			"Parameters": {
				"messageType": "autoRejectionMessage",
				"mortgage.$": "$.mortgage"
			},
            "ResultPath": "$.lambdaresult",
			"Next": "WithUnderwriterNotify"
		},

		"WithUnderwriterNotify": {
			"Type": "Task",
            "InputPath": "$.lambdaresult",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-SendNotificationMessageFunction-97PNA0FW3WYG",
            "ResultPath": "$.lambdaresult",
			"Next": "AwaitUnderwriterDecision"
		},
      
        "AwaitUnderwriterDecision": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "Parameters": {
                "FunctionName": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-SendUnderwriterDecisionEmailFuncti-1H87DMKCPKW8C",
                "Payload": {
                    "mortgage.$": "$.mortgage",
                    "ExecutionContext.$": "$$"
                }
            },
            "TimeoutSeconds": 180,
            "ResultPath": "$.lambdaresult",
            "Next": "ProcessUnderwriterDecision"
        },

        "ProcessUnderwriterDecision": {
			"Type": "Choice",
			"Choices": [{
				"Variable": "$.lambdaresult.statusCode",
				"NumericEquals": 200,
				"Next": "UpdateStatusToUnderwriterApproved"
			}],
			"Default": "UpdateStatusToUnderwriterRejected"
		},
      
      	"UpdateStatusToUnderwriterApproved": {
			"Type": "Task",
          	"Parameters": {
				"mortgage.$": "$.mortgage",
				"newStatus": "Approved"
			},
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-ChangeMortgageStatusFunction-2NK931AA2H2N",
            "Next": "UnderwriterApprovedMessage"
		},
		
        "UnderwriterApprovedMessage": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-CreateNotificationMessageFunction-B9G86VUP45D8",
			"Parameters": {
				"messageType": "underwriterApprovalMessage",
				"mortgage.$": "$.mortgage"
			},
            "ResultPath": "$.lambdaresult",
			"Next": "UnderwriterApprovedNotify"
		},

		"UnderwriterApprovedNotify": {
			"Type": "Task",
            "InputPath": "$.lambdaresult",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-SendNotificationMessageFunction-97PNA0FW3WYG",
			"End": true
		},
      
      	"UpdateStatusToUnderwriterRejected": {
			"Type": "Task",
          	"Parameters": {
				"mortgage.$": "$.mortgage",
				"newStatus": "Rejected"
			},
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-ChangeMortgageStatusFunction-2NK931AA2H2N",
            "Next": "UnderwriterRejectedMessage"
		},
		
        "UnderwriterRejectedMessage": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-CreateNotificationMessageFunction-B9G86VUP45D8",
			"Parameters": {
				"messageType": "underwriterRejectionMessage",
				"mortgage.$": "$.mortgage"
			},
            "ResultPath": "$.lambdaresult",
			"Next": "UnderwriterRejectedNotify"
		},

		"UnderwriterRejectedNotify": {
			"Type": "Task",
            "InputPath": "$.lambdaresult",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-SendNotificationMessageFunction-97PNA0FW3WYG",
			"End": true
		}
      
    }
}