mortgage.workflow/StateMachineV1.json
{
	"StartAt": "GetMortgageApplication",
	"States": {
	
		"GetMortgageApplication": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-WorkflowGetMorgtageFunction-16L3UM67HNU4N",
			"Next": "GetMortgageApplicationResult"
		},
	
		"GetMortgageApplicationResult": {
			"Type": "Choice",
			"Choices": [{
				"Variable": "$.statusCode",
				"NumericEquals": 200,
				"Next": "AutoAssessment"
			}],
			"Default": "MortgageApplicationNotFound"
		},

		"MortgageApplicationNotFound": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-NofifyUsersSNSFunction-216EXFJBHO0V",
			"Parameters": {
				"TopicArn": "arn:aws:sns:eu-west-1:727432808710:BrokerSNSTopic",
				"Message.$": "$.error"
			},
			"End": true
		},

		"AutoAssessment": {
			"Type": "Task",
			"InputPath": "$.mortgage",
			"Resource": "arn:aws:lambda:eu-west-1:727432808710:function:Mortgages-Stack-AutoAssessmentFunction-1FH398K5IHYU7",
			"End": true
		}
	}
}