mortgage.workflow/StateMachineV1.json
{
  "StartAt": "AutoAssessment",
  "States": {
    "AutoAssessment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Next": "AutoAssessmentResult"
    },
    "AutoAssessmentResult": {
      "Type": "Choice",
      "Choices": [{
        "Not": {
          "Variable": "$.assessmentResult",
          "StringEquals": "Passed"
        },
        "Next": "ApproveApplication"
       }],
      "Default": "AutoAssessmentFailed"
    },
    "AutoAssessmentFailed": {
      "Type": "Pass",
      "Next": "NotifyUnderwriter"
    }, 
    "NotifyUnderwriter": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda::::invoke",
      "Next": "WaitForUnderwritingDecision"
    }, 
    "WaitForUnderwritingDecision": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Next": "ActionUnderwriterDecision"
    }, 
    "ActionUnderwriterDecision": {
      "Type": "Choice",
      "Choices": [{
          "Variable": "$.underwriterDecision",
          "StringEquals": "Approved",
          "Next": "ApproveApplication"
        }, {
          "Variable": "$.underwriterDecision",
          "StringEquals": "Rejected",
          "Next": "RejectApplication"
        }, {
          "Variable": "$.underwriterDecision",
          "StringEquals": "Clarification",
          "Next": "RequestClarification"
       }]
    },
    "RequestClarification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda::::invoke",
      "Next": "WaitForClarification"
    }, 
    "WaitForClarification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Next": "AutoAssessment"
    },
    "RejectApplication": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda::::invoke",
      "End": true
    },
    "ApproveApplication": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda::::invoke",
      "End": true
    }
  }
}